
.main_div
{
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.top_div
{
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  /*height: 480px;*/
  height: 510px;
  position: relative;
}

.top_text_div
{
  position: relative;
  width: 30%;
  margin-left: 10%;
  /* bottom: 15%; */
  height: 100%;
  background-color: rgba(128,128,128,0.82);
  display: table;
}

.top_text_div_inner
{
  display: table-cell;
  vertical-align: middle;
  padding-left: 6%;
  padding-right: 6%;
}

.top_span_1
{
  font-family: 'Barkentina';
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}

.top_span_2
{
  font-family: 'Barkentina';
  font-size: 33px;
  color: #fff;
  text-transform: uppercase;
  display: block;
  margin-top: -13px;
  border-bottom: solid 7px #5fc0c4;
  width: 15%;
}

.top_text_div_mobile
{
  display: none;
  background-color: rgba(128,128,128,0.82);
  padding: 20px;
  text-align: center;
}

.top_text_div_mobile .top_span_2
{
  width: 100%;
  border: none;
}

.extra_border
{
  width: 30%;
  height: 7px;
  background-color: #5fc0c4;
  margin-left: auto;
  margin-right: auto;
}

.top_p
{
  font-family: 'Aileron-Light';
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

.loc_div
{
  margin-top: 4%;
  margin-bottom: 4%;
  width: 80% !important;
}

.loc_left_div
{
  padding-left: 0;
}

.loc_span_1
{
  font-family: 'Barkentina';
  font-size: 30px;
  /*color: #323131;*/
  color: #5fc0c4;
}

.loc_span_2
{
  font-family: 'Barkentina';
  font-size: 45px;
  /*color: #323131;*/
  color: #5fc0c4;
  text-transform: uppercase;
  display: block;
  margin-top: -12px;
}

.main_text
{
  margin-top: 20px;
  color: #929598;
}

@media only screen and (max-width: 1050px) {

  .loc_div, .footer
  {
    width: 90% !important;
  }

  .loc_left_div, .loc_right_div
  {
    /*width: 100%;
    display: block;
    margin-bottom: 15px;*/
  }



  .loc_right_div_2
  {
    /*display: block;
    width: 100%;*/
  }

  .loc_right_div img 
  {
    width: 85%;
  }

  /*.loc_span_2
  {
    display: inline-block;
  }*/

}
@media only screen and (max-width: 980px) {

  .footer_div_1 img
  {
    /*width: 65%;*/
  }

  .footer_div_2 span
  {
    margin-bottom: 10px;
  }

  .footer_div_1 span
  {
    font-size: 10px;
  }

  .footer_div_3_top .footer_div_3_spans_1, .footer_div_2 span
  {
    font-size: 12px;
  }

  .footer_div_3_bottom img 
  {
    width: 23px;
  }
}

@media only screen and (max-width: 768px) {

   .top_div
  {
    height: 310px;
  }

  .top_span_1
  {
    font-size: 25px;
  }

  .top_span_2
  {
    font-size: 38px;
    margin-top: -17px;
  }

  .top_p
  {
    font-size: 13px;
  }

  .loc_right_div
  {
    display: none;
  }

  .loc_right_div_2
  {
    display: block;
  }

  .loc_right_div_2
  {
    width: 100%;
    height: 120px;
    text-align: center;
  }

   .loc_right_div_2 img
  {
    height: 85%;
  }

  .loc_left_div
  {
    text-align: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .main_text
  {
    text-align: justify;
  }

  .top_text_div
  {
    display: none;
  }

  .top_text_div_mobile
  {
    display: block;
  }

  .top_text_div_2 .top_text_div_inner .top_span_1
  {
    font-size: 22px;
  }

  .top_text_div_2 .top_text_div_inner .top_span_2 
  {
    font-size: 30px;
    margin-top: -12px;
  }

}

@media only screen and (max-width: 600px) {

  .top_text_div
  {
    width: 90%;
  }
  
  .top_span_1
  {
    font-size: 21px;
  }

  .top_span_2
  {
    font-size: 31px;
    margin-top: -11px;
  }

  .loc_span_1
  {
    font-size: 27px;
  }

  .loc_span_2
  {
    font-size: 37px;
  }
}

@media only screen and (max-width: 520px) {

  .top_div
  {
    height: 300px;
  }


}  
@media only screen and (max-width: 414px) {



}

@media only screen and (max-width: 320px) {
  
  .loc_div
  {
    width: 100% !important;
  }
  
  .loc_span_1, .loc_span_2 
  {
    font-size: 20px;
  }

  .loc_span_2
  {
    margin-top: -7px;
  }

}

