@font-face {
    font-family: 'Aileron-Light';
    src: url('../fonts/Aileron-Light.eot');
    src: url('../fonts/Aileron-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-Light.woff') format('woff'),
         url('../fonts/Aileron-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron-Regular';
    src: url('../fonts/aileron-regular-webfont.eot');
    src: url('../fonts/aileron-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-regular-webfont.woff') format('woff'),
         url('../fonts/aileron-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron-SemiBold';
    src: url('../fonts/Aileron-SemiBold.eot');
    src: url('../fonts/Aileron-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-SemiBold.woff') format('woff'),
         url('../fonts/Aileron-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron-Bold';
    src: url('../fonts/Aileron-Bold.eot');
    src: url('../fonts/Aileron-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-Bold.woff') format('woff'),
         url('../fonts/Aileron-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron-Black';
    src: url('../fonts/aileron-black-webfont.eot');
    src: url('../fonts/aileron-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-black-webfont.woff') format('woff'),
         url('../fonts/aileron-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Barkentina';
    src: url('../fonts/Barkentina.eot');
    src: url('../fonts/Barkentina.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Barkentina.woff') format('woff'),
         url('../fonts/Barkentina.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.nav_mobile, .fake_div
{
  display: none;
}


.nav_div
{
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.nav_divs
{
  text-align: center;
  /*padding-top: 1.5%;
  padding-bottom: 1.5%;*/
}

.nav_left_div
{
  /*padding-top: 1.5%;
  padding-bottom: 1.5%;*/
}

.event_logo
{
  /*width: 27%;*/
  width: 110px;
}


a:hover, a:focus
{
    text-decoration: none !important;
}

.top_nav_right
{
  height: 35px;
  /*border: solid 1px #000;*/
}

.bot_nav_right
{
  height: 55px;
  /*border: solid 1px #000;*/
}

.bot_nav_right span
{
  font-family: 'Aileron-Regular';
  color: #808083;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 3%;
  margin-left: 3%;
}

.bot_nav_right span:hover
{
  cursor: pointer;
  opacity: 0.75;
}

.bot_nav_right .active:hover
{
  cursor: default;
  opacity: 1;
}

.bot_nav_right .active
{
  font-family: 'Aileron-Black';
  border-bottom: solid 7px #5fc0c4;
  padding-bottom: 1%;
}

.container
{
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.main_div
{
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.top_div
{
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  padding-top: 5%;
  padding-left: 8%;
}

.top_text_div
{
  position: relative;
  width: 54%;
}

.top_span_1
{
  font-family: 'Barkentina';
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}

.top_span_2
{
  font-family: 'Barkentina';
  font-size: 47px;
  color: #fff;
  text-transform: uppercase;
  display: block;
  margin-top: -20px;
}

.top_p
{
  font-family: 'Aileron-Light';
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

.loc_div
{
  margin-top: 4%;
  margin-bottom: 4%;
  width: 80% !important;
}

.loc_left_div
{
  padding-left: 0;
}

.loc_span_1
{
  font-family: 'Barkentina';
  font-size: 20px;
  color: #5fc0c4;
  text-transform: uppercase;
}

.loc_span_2
{
  font-family: 'Barkentina';
  font-size: 20px;
  color: #5fc0c4;
  text-transform: uppercase;
  display: block;
  margin-top: -7px;
}

.loc_p
{
  font-family: 'Aileron-Light';
  font-size: 15px;
  color: #000;
  margin-top: 10px;
}

.loc_right_div
{
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 0;
}

.footer
{
  background-color: #5fc0c4;
  width: 80% !important;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.footer_divs
{
  text-align: center;
  padding-left: 5%;
  border-right: solid 2px #fff;
}

.footer_div_1
{
  text-align: left;
}

.footer_div_1 img
{
  width: 75%;
  display: block;
  margin-right: auto;
  margin-bottom: 20px;
}

.footer_div_1 span
{
  font-family: 'Aileron-Regular';
  color: #fff;
  font-size: 11px;
  display: block;
}

.footer_div_2
{
  text-align: left;
}

.footer_div_2 span
{
  font-family: 'Aileron-Bold';
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}

.footer_div_2 span:hover
{
  opacity: 0.75;
  cursor: pointer;
}

.footer_div_3
{
  text-align: left;
}

.footer_div_3_top
{
  margin-bottom: 18px;
}

.footer_div_3_top .footer_div_3_spans_1
{
  font-family: 'Aileron-SemiBold';
  color: #eeeeee;
  font-size: 14px;
  display: block;
  opacity: 0.57;
  margin-bottom: 10px;
}

.footer_div_3_top .footer_div_3_spans_1:hover
{
  opacity: 1;
  cursor: pointer;
}

.footer_div_3_spans_2
{
  font-family: 'Aileron-Bold';
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.footer_div_3_bottom
{
  text-align: left;
}

.footer_div_3_bottom img
{
  display: inline-block;
}

.footer_div_3_bottom img:hover
{
  opacity: 0.75;
  cursor: pointer;
}

.footer_div_4
{
  border: none;
}

.loc_right_div_2
{
  display: none;
}

@media only screen and (max-width: 1050px) {

  .loc_div, .footer
  {
    width: 90% !important;
  }

  .loc_left_div, .loc_right_div
  {
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }

  .loc_right_div
  {
    display: none;
  }

  .loc_right_div_2
  {
    display: block;
    width: 100%;
  }

  .loc_right_div_2 img 
  {
    width: 100%;
  }

  .loc_span_2
  {
    display: inline-block;
  }

}
@media only screen and (max-width: 980px) {

  .footer_div_1 img
  {
    /*width: 65%;*/
  }

  .footer_div_2 span
  {
    margin-bottom: 10px;
  }

  .footer_div_1 span
  {
    font-size: 10px;
  }

  .footer_div_3_top .footer_div_3_spans_1, .footer_div_2 span
  {
    font-size: 12px;
  }

  .footer_div_3_bottom img 
  {
    width: 23px;
  }
}

@media only screen and (max-width: 768px) {

  .nav_div
  {
    display: none;
  }

  .nav_mobile
  {
    display: block;
    margin-bottom: 0;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 200;
  }

  .fake_div
  {
    width: 100%;
    position: relative;
    height: 100px;
    display: block;
  }

  .container-fluid 
  {
    z-index: 200;
    background-color: #fff;
    /*padding-left: 0;
    padding-right: 0;*/
  }

  .container-fluid > .navbar-collapse
  {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
  {
    background-color: #fff;
  }

  .navbar-default .navbar-toggle 
  {
    border-color: #5fc0c4;
  }

  .navbar-default .navbar-toggle .icon-bar 
  {
    background-color: #5fc0c4;
  }

  .navbar-default .navbar-toggle:hover
  {
    background-color: #5fc0c4;
  }

  /*.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus*/
  .navbar-default .navbar-toggle:hover .icon-bar
  {
    background-color: #fff;
  }

  .navbar-default 
  {
    background-color: #fff;
    border: none;
  }

  .navbar-nav
  {
    margin: 0;
  }

  .navbar-collapse
  {
    border: none;
  }

  .navbar-brand
  {
    height: initial;
  }

  .event_logo 
  {
    width: 80px;
  }

  .nav_btn_div
  {
    float: right;
    height: 100px;
    vertical-align: middle;
    position: relative;
    width: 50px;
  }

  .navbar-toggle 
  {
    position: relative;
    float: none; 
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 40px;
    margin: auto;
  }

  .top_div
  {
    height: 480px;
  }

  .top_span_1
  {
    font-size: 25px;
  }

  .top_span_2
  {
    font-size: 38px;
    margin-top: -17px;
  }

  .top_p
  {
    font-size: 13px;
  }

  .footer_divs
  {
    padding-left: 3%;
  }

  .footer_div_1 img
  {
    margin-left: auto;
  }

  .footer_div_1 span
  {
    text-align: center;
  }

  /*.loc_right_div
  {
    display: none;
  }

  .loc_right_div_2
  {
    display: block;
    width: 100%;
  }

  .loc_right_div_2 img 
  {
    width: 100%;
  }*/

}

@media only screen and (max-width: 520px) {

  .top_p 
  {
    font-size: 12px;
  }

  .top_span_1 
  {
    font-size: 22px;
  }

  .top_span_2 
  {
    font-size: 34px;
    margin-top: -15px;
  }


  .footer_divs 
  {
    padding-left: 0;
    padding-right: 0;
    display: block;
    float: none!important;
    height: initial !important;
    margin-bottom: 13px;
    text-align: center;
    border: none;
  }

  .footer_div_1 img
  {
    width: 25%;
  }

  .footer_div_3_bottom 
  {
    text-align: center;
  }

  .footer_div_3_top .footer_div_3_spans_1 
  {
    margin-bottom: 0;
    display: inline-block;
    border-right: solid 2px #fff;
    padding-right: 4px;
  }

  .footer_div_3_top .footer_div_3_spans_1_3
  {
    padding-right: 0;
    border: none;
  }

  .footer_div_3_top .footer_div_3_spans_1, .footer_div_2 span, .footer_div_3_spans_2
  {
    font-size: 10px;
  }

}  
@media only screen and (max-width: 414px) {

  .top_div
  {
    height: 420px;
  }

  .top_text_div
  {
    width: 65%;
  }

  .top_span_1
  {
    font-size: 19px;
  }

  .top_span_2 
  {
    font-size: 28px;
    margin-top: -12px;
  }

  .top_p 
  {
    font-size: 10px;
  }

  .loc_left_div
  {
    /*text-align: center;*/
  }

  .loc_p
  {
    text-align: left;
  }

}

@media only screen and (max-width: 320px) {
  
  .loc_span_1, .loc_span_2
  {
    font-size: 17px;
  }

  .footer_div_3_top .footer_div_3_spans_1, .footer_div_2 span 
  {
    font-size: 9px;
  }
}

