

.main_div
{
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.top_div
{
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
}

.page_title
{
  font-family: 'Barkentina';
  color: #5fc0c4;
  font-size: 40px;
  display: block;
  text-transform: uppercase;
}

.page_desc
{
  font-family: 'Aileron-Light';
  color: #929598;
  font-size: 15px;
}

.loc_div
{
  position: relative;
  width: 80%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}

.inner_overlay
{
  width: 100%;
  height: 100%;
  /*background-color: rgba(0,0,0,0.5);*/
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  opacity: 0;
  /*padding: 4px;*/
}

.tiles-wrap.wookmark-initialised.animated li:hover .inner_overlay
{
  opacity: 0.85;
}

.inner_overlay_holder
{
  position: absolute;
  bottom: 0;
  text-align: left;
}

.inner_overlay_holder span 
{
  font-family: 'Barkentina';
  color: #fff;
  font-size: 25px;
  display: block;
  padding-left: 7%;
}

.inner_overlay_holder p 
{
  font-family: 'Aileron-Regular';
  color: #fff;
  font-size: 13px;
  margin: 0;
  padding: 7%;
}




@media only screen and (max-width: 1050px) {

  .footer
  {
    width: 90% !important;
  }


}

@media only screen and (max-width: 975px) {


}

@media only screen and (max-width: 768px) {

  .top_div
  {
    text-align: center;
  }

  .page_desc
  {
    text-align: justify;
  }

}

@media only screen and (max-width: 600px) {

  
}

@media only screen and (max-width: 520px) {



}  
@media only screen and (max-width: 414px) {




}

@media only screen and (max-width: 320px) {
  

  .footer_div_3_top .footer_div_3_spans_1, .footer_div_2 span 
  {
    font-size: 9px;
  }
}

