

.main_div
{
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.top_div
{
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 510px;
  padding-top: 5%;
  padding-left: 5%;
  position: relative;
}

.top_span_1
{
  font-family: 'Barkentina';
  font-size: 46px;
  color: #5fc0c4;
  text-transform: uppercase;
  font-weight: 900;
  display: block;
}

.top_span_2
{
  font-family: 'Barkentina';
  font-size: 46px;
  color: #5fc0c4;
  text-transform: uppercase;
  font-weight: 900;
  display: block;
}

.loc_1
{
  text-align: center;
}

.loc_div
{
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.top_div_inner
{
   position: relative;
  background-color: rgba(255,255,255,0.7);
  width: 50%;
  text-align: center;
}

.loc_div_inner
{
  position: relative;
  display: inline-block;
  width: 25%;
  margin-right: 2%;
  text-align: center;
/*  border: solid 2px transparent;
  padding: 10px;*/
}

/*.loc_div_inner:hover
{
  border-color: #5fc0c4;
}

.loc_div_inner:hover span
{
  color: #929598;
}*/

.loc_div_inner img
{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.loc_div_inner img:hover
{
  opacity: 0.75;
  cursor: pointer;
}

.loc_div_inner span 
{
  display: block;
}

.loc_span_1
{
  display: block;
  font-family: 'Aileron-Bold';
  color: #5fc0c4;
  font-size: 19px;
}

.loc_span_2
{
  display: block;
  font-family: 'Aileron-Light';
  color: #5fc0c4;
  font-size: 15px;
}

.loc_span_3
{
  display: block;
  font-family: 'Aileron-Light';
  color: #5fc0c4;
  font-size: 15px;
}

.loc_2, .loc_3
{
  display: none;
}

.loc_2_spans
{
  display: block;
}

.loc_2_span_1
{
  font-family: 'Barkentina';
  color: #5fc0c4;
  font-size: 36px;
  letter-spacing: 1px;
}

.loc_2_span_2
{
  font-family: 'Aileron-Regular';
  color: #808083;
  font-size: 15px;
  margin-top: -8px;
  letter-spacing: 1px;
}

.loc_2_span_3
{
  font-family: 'Aileron-Light';
  color: #808083;
  font-size: 14px;
}

input[type=file] 
{
  background-color: #ebebeb;
  padding: 6px;
  width: 100%;
  margin-bottom: 1.5%;
  margin-top: 1.5%;
}

.loc_3_span_1
{
  font-family: 'Barkentina';
  color: #5fc0c4;
  font-size: 36px;
  letter-spacing: 1px;
  display: block;
}

.career_item
{
  margin-top: 2%;
  margin-bottom: 4%;
}

.career_title
{
  font-family: 'Aileron-Regular';
  color: #5fc0c4;
  font-size: 19px;
  display: block;
}

.career_desc_title
{
  font-family: 'Aileron-Black';
  color: #808083;
  font-size: 15px;
  display: block;
  margin-top: 5px;
}

.career_desc, .career_code
{
  font-family: 'Aileron-Regular';
  color: #808083;
  font-size: 15px;
  display: block;
}

.apply_btn
{
  font-family: 'Aileron-Black';
  color: #5fc0c4;
  font-size: 17px;
  background-color: transparent;
  border: solid 2px #5fc0c4;
  padding: 0;
  margin-top: 5px;
  padding: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.apply_btn:hover
{
  background-color: #5fc0c4;
  color: #fff;
  border-color: #5fc0c4;
}

#gform_wrapper_2, #gform_wrapper_3, #gforms_confirmation_message, .subs
{
  display: none;
}

.submit_btn
{
  font-family: 'Barkentina';
  color: #fff !important;
  background-color: #5fc0c4 !important;
  border-color: #5fc0c4 !important;
  margin-top: 10px !important;
}

.submit_btn:hover
{
  color: #5fc0c4 !important;
  background-color: #fff !important;
}

.back_btn
{
  width: 60px;
  margin-bottom: 20px;
}


.back_btn:hover
{
  cursor: pointer;
  opacity: 0.75;
}

.subs input[type=file]
{
  width: 35%;
}


@media only screen and (max-width: 1050px) {

  .loc_div_inner
  {
    width: 30%;
  }



  .loc_right_div_2
  {
    /*display: block;
    width: 100%;*/
  }

  .loc_right_div img 
  {
    width: 85%;
  }

  /*.loc_span_2
  {
    display: inline-block;
  }*/

}

@media only screen and (max-width: 975px) {

  .fac_item 
  {
    width: 32%;
  }

  .top_span_1, .top_span_2
{
  font-size: 38px;
}

}

@media only screen and (max-width: 768px) {

  .top_div
  {
    height: 310px;
  }

  .top_span_1
  {
    font-size: 30px;
  }

  .top_span_2
  {
    font-size: 30px;
    margin-top: -7px;
  }

  .top_p
  {
    font-size: 13px;
  }

  .loc_right_div
  {
    display: none;
  }

  .loc_right_div_2
  {
    display: block;
  }

  .loc_right_div_2
  {
    width: 100%;
    height: 120px;
    text-align: center;
  }

   .loc_right_div_2 img
  {
    height: 85%;
  }

  .loc_left_div
  {
    text-align: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3%;
  }

  .main_text
  {
    text-align: left;
  }

  .fac_item 
  {
    width: 49%;
    text-align: center;
  }

  .loc_div_inner 
  {
    width: 100%;
    display: block;
    margin-bottom: 10%;
  }

  .loc_div_inner img
  {
    width: 15%;
  }


  .loc_2_span_1 
  {
    font-size: 30px;
  }

  .loc_2_span_2 
  {
    font-size: 14px;
    margin-top: -4px;
    letter-spacing: 1px;
  }

  .loc_3_span_1 
  {
    font-size: 28px;
    text-align: center;
  }

  .career_item
  {
    margin-bottom: 10%;
  }

  .career_title
  {
    font-size: 17px;
  }

  .career_desc_title, .career_desc, .career_code
  {
    font-size: 13px;
  }

  .apply_btn 
  {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display: block;
  }

  input[type=file]
  {
    width: 55% !important;
  }

  .submit_btn
  {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block !important;
  }

}

@media only screen and (max-width: 600px) {

  .top_text_div
  {
    width: 90%;
  }
  
  .top_span_1
  {
    font-size: 21px;
  }

  .top_span_2
  {
    font-size: 28px;
    margin-top: -11px;
  }

}

@media only screen and (max-width: 520px) {

  .top_div
  {
    height: 300px;
    padding-left: 0;
    padding-right: 0;
  }

  .top_div_inner 
  {
    width: 100%;
  }

  .fac_item 
  {
    width: 49%;
    font-size: 13px;
  }

  .top_span_1
  {
    font-size: 21px;
  }

  .top_span_2 
  {
    font-size: 21px;
    margin-top: -6px;
  }

}  
@media only screen and (max-width: 414px) {


  .top_text_div
  {
    width: 65%;
  }


}

@media only screen and (max-width: 320px) {
  
  .fac_item 
  {
    font-size: 12px;
  }

  .footer_div_3_top .footer_div_3_spans_1, .footer_div_2 span 
  {
    font-size: 9px;
  }
}

