

.main_div
{
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.top_div
{
  width: 100%;
  background-color: #66c1c2;
  position: relative;
  padding: 2%;
  padding-left: 4%;
}

.top_div span
{
  font-family: 'Barkentina';
  font-size: 43px;
  color: #fff;
}

.top_div p, .top_div h1
{
  font-family: 'Aileron-Light';
  font-size: 17px;
  color: #fff;
}

.top_div p strong
{
  /*font-family: 'Aileron-Regular';*/
  font-family: 'Barkentina';
  font-size: 17px;
  color: #fff;
  letter-spacing: 1px;
}

.top_div .call_us_p, .top_div .call_us_p strong
{
  font-size: 24px;
}

.reg_div
{
  width: 100%;
  /*padding-left: 0;
  padding-right: 0;*/
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #66c1c2;
}

.reg_div_inner
{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /*background-color: black;*/
}

.reg_div_inner span
{
  font-family: 'Aileron-Bold';
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 1px;
}

.reg_form
{
  font-family: 'Aileron-Regular';
  color: #fff;
  margin-top: 20px;
}

.reg_form input, .reg_form button, .reg_form select
{
  background-color: #808083;
  border: solid 1px #808083;
  border-radius: 0;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: center;
}

.reg_form select
{
  text-align-last:center;
}

.reg_form button
{
  background-color: #6c6e71;
  border: solid 1px #6c6e71;
}

.reg_form button:hover
{
  background-color: #fff;
  color: #6c6e71;
  border: solid 1px #6c6e71;
}

.reg_div_inner input::-webkit-input-placeholder {
color: #fff !important;
text-align: center;
font-family: 'Aileron-Regular';
/*font-size: 20px;*/
}
 
.reg_div_inner input:-moz-placeholder { /* Firefox 18- */
color: #fff !important;  
text-align: center;
font-family: 'Aileron-Regular';
/*font-size: 20px;*/
}
 
.reg_div_inner input::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;  
text-align: center;
font-family: 'Aileron-Regular';
/*font-size: 20px;*/
}
 
.reg_div_inner input:-ms-input-placeholder {  
color: #fff !important;  
text-align: center;
font-family: 'Aileron-Regular';
/*font-size: 20px;*/
}

#gform_wrapper_1
{
  display: none;
}


@media only screen and (max-width: 1050px) {

  .loc_div, .footer
  {
    width: 90% !important;
  }

  .loc_left_div, .loc_right_div
  {
    /*width: 100%;
    display: block;
    margin-bottom: 15px;*/
  }



  .loc_right_div_2
  {
    /*display: block;
    width: 100%;*/
  }

  .loc_right_div img 
  {
    width: 85%;
  }

  /*.loc_span_2
  {
    display: inline-block;
  }*/

}

@media only screen and (max-width: 1000px) {

   .reg_div_inner
  {
    width: 70%;
  }


  .reg_div_inner span
  {
    font-size: 27px;
  }
}

@media only screen and (max-width: 768px) {

  .top_div
  {
    /*height: 310px;*/
  }

  .top_span_1
  {
    font-size: 25px;
  }

  .top_span_2
  {
    font-size: 38px;
    margin-top: -17px;
  }

  .top_p
  {
    font-size: 13px;
  }

  .loc_right_div
  {
    display: none;
  }

  .loc_right_div_2
  {
    display: block;
  }

  .loc_right_div_2
  {
    width: 100%;
    height: 120px;
    text-align: center;
  }

   .loc_right_div_2 img
  {
    height: 85%;
  }

  .loc_left_div
  {
    text-align: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .main_text
  {
    text-align: left;
  }

  .fac_item 
  {
    width: 49%;
    text-align: center;
  }

  .top_div
  {
    padding: 4%;
    text-align: center;
  }
  .top_div span
  {
    font-size: 33px;
  }

  .top_div p, .top_div p strong
  {
    font-size: 16px;
  }

  .reg_div_inner
  {
    width: 70%;
  }

  .reg_form input, .reg_form button
  {
    width: 90%;
  }

  .reg_div_inner span
  {
    font-size: 25px;
  }

}

@media only screen and (max-width: 600px) {

  .top_text_div
  {
    width: 90%;
  }
  
  .top_span_1
  {
    font-size: 21px;
  }

  .top_span_2
  {
    font-size: 31px;
    margin-top: -11px;
  }

  .loc_span_1
  {
    font-size: 27px;
  }

  .loc_span_2
  {
    font-size: 37px;
  }
}

@media only screen and (max-width: 520px) {

  .fac_item 
  {
    width: 49%;
    font-size: 13px;
  }

}  
@media only screen and (max-width: 414px) {


  .top_text_div
  {
    width: 65%;
  }


}

@media only screen and (max-width: 320px) {
  
  .reg_div_inner 
  {
    padding-top: 10px;
  }

  .reg_div_inner span
  {
    font-size: 20px;
  }

  .footer_div_3_top .footer_div_3_spans_1, .footer_div_2 span 
  {
    font-size: 9px;
  }
}

