

.main_div
{
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.top_div
{
  width: 100%;
  background-color: #66c1c2;
  position: relative;
  padding: 2%;
  padding-left: 4%;
}

.top_div_1 
{
  width: 85% !important;
  margin-bottom: 20px;
}

.top_div_1_left span
{
  font-family: 'Barkentina';
  color: #fff;
  display: block;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.top_div_1_right
{
  text-align: center;
}

.top_div_1_right img
{
  width: 40%;
}

.top_div_1_span_2
{
  margin-top: -25px;
}

.top_div_2
{
  width: 85% !important;
}

.top_div_2_left
{
  height: 300px;
}

.top_div_2_right
{
  padding-left: 20px !important;
}

.top_div_2_right p
{
  font-family: 'Aileron-Light';
  color: #fff;
  font-size: 15px;
  text-align: justify;
}

.mid_div
{
  width: 100%;
  background-color: #ffc842;
  padding: 10px;
  text-align: center;
}

.mid_div span
{
  font-family: 'Barkentina';
  color: #fff;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.loc_1, .loc_2, .loc_3
{
  color: #929598;
}
.loc_divs:hover
{
  opacity: 0.75;
  cursor: pointer;
}

.locations_div
{
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
  width: 85% !important;
}

.loc_divs
{
  background-color: #66c1c2;
  padding: 10px;
  padding-left: 12%;
  padding-right: 12%;
  width: 70% !important;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.loc_divs span
{
  font-family: 'Aileron-Regular';
  color: #fff;
  background-color: #66c1c2;
  font-size: 18px;
}

.loc_divs img
{
  width: 25px;
  /* border: solid 2px #fff; */
  border-radius: 20px;
  padding: 3px;
  position: absolute;
  right: 13px;
}

.locations_2
{
  width: 70% !important;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  text-align: justify;
}

.loc_list
{
  width: 70% !important;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.all_lists
{
  display: block;
  font-family: 'Aileron-Regular';
  color: #929598;
  font-size: 14px;
  padding-left: 10px;
}

.odd_list
{
  border: solid 1px transparent;
}

.even_list
{
  border: solid 1px #c0f3f2;
  background-color: #c0f3f2;
}

.even_list:hover
{
  cursor: pointer;
  border-color: #181919;
}

.odd_list:hover
{
  cursor: pointer;
  border-color: #181919;
}

/*
.top_div span
{
  font-family: 'Barkentina';
  font-size: 43px;
  color: #fff;
}

.top_div p
{
  font-family: 'Aileron-Light';
  font-size: 17px;
  color: #fff;
}

.top_div p strong
{
  font-family: 'Aileron-Regular';
  font-size: 17px;
  color: #fff;
}*/


@media only screen and (max-width: 1200px) {

  .locations_div
  {
    width: 90% !important;
  }
}

@media only screen and (max-width: 1100px) {

  .loc_divs, .locations_2, .loc_list
  {
    width: 80% !important;
  }
}

@media only screen and (max-width: 1050px) {

  .loc_div, .footer
  {
    width: 90% !important;
  }

  .loc_left_div, .loc_right_div
  {
    /*width: 100%;
    display: block;
    margin-bottom: 15px;*/
  }



  .loc_right_div_2
  {
    /*display: block;
    width: 100%;*/
  }

  .loc_right_div img 
  {
    width: 85%;
  }

  /*.loc_span_2
  {
    display: inline-block;
  }*/

}

@media only screen and (max-width: 1010px) {

  .loc_divs, .locations_2, .loc_list
  {
    width: 90% !important;
  }
}

@media only screen and (max-width: 1000px) {

   .reg_div_inner
  {
    width: 70%;
  }


  .reg_div_inner span
  {
    font-size: 27px;
  }
}

@media only screen and (max-width: 960px) {

  .top_div_2_left
  {
    height: 330px;
  }

  .top_div_2_right p
  {
    font-size: 14px;
  }

  .top_div_1_left span
  {
    font-size: 46px;
  }

}
@media only screen and (max-width: 920px) {

  .mid_div span
  {
    font-size: 30px;
  }

  .locations .locs
  {
    width: 100%;
    margin-bottom: 20px;
  }

  .loc_divs
  {
    /*width: 100% !important*/;
  }

  .loc_divs, .locations_2, .loc_list
  {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {

  .top_div
  {
    /*height: 310px;*/
  }

  .top_span_1
  {
    font-size: 25px;
  }

  .top_span_2
  {
    font-size: 38px;
    margin-top: -17px;
  }

  .top_p
  {
    font-size: 13px;
  }

  .loc_right_div
  {
    display: none;
  }

  .loc_right_div_2
  {
    display: block;
  }

  .loc_right_div_2
  {
    width: 100%;
    height: 120px;
    text-align: center;
  }

   .loc_right_div_2 img
  {
    height: 85%;
  }

  .loc_left_div
  {
    text-align: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .main_text
  {
    text-align: left;
  }

  .fac_item 
  {
    width: 49%;
    text-align: center;
  }

  .top_div
  {
    padding: 4%;
    text-align: center;
  }
  .top_div span
  {
    font-size: 33px;
  }

  .top_div p, .top_div p strong
  {
    font-size: 16px;
  }

  .top_div_1, .top_div_2, .top_div_1_left
  {
    width: 100% !important;
  }

  .top_div_1_span_2
  {
    margin-top: -10px;
  }

  .top_div_1_right
  {
    float: none !important;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  .top_div_2_left
  {
    width: 100%;
    margin-bottom: 25px;
  }

  .mid_div span
  {
    font-size: 22px;
  }

  .loc_divs_in
  {
    width: 100%;
  }

}

@media only screen and (max-width: 600px) {

  .top_text_div
  {
    width: 90%;
  }
  
  .top_span_1
  {
    font-size: 21px;
  }

  .top_span_2
  {
    font-size: 31px;
    margin-top: -11px;
  }

  .loc_span_1
  {
    font-size: 27px;
  }

  .loc_span_2
  {
    font-size: 37px;
  }
}

@media only screen and (max-width: 520px) {

  .fac_item 
  {
    width: 49%;
    font-size: 13px;
  }

  .top_div span 
  {
    font-size: 20px;
  }

}  
@media only screen and (max-width: 414px) {


  .top_text_div
  {
    width: 65%;
  }


}

@media only screen and (max-width: 320px) {
  
  .reg_div_inner 
  {
    padding-top: 10px;
  }

  .reg_div_inner span
  {
    font-size: 20px;
  }

  .footer_div_3_top .footer_div_3_spans_1, .footer_div_2 span 
  {
    font-size: 9px;
  }
}

