#html5-watermark, .html5-nav-mask, .html5-nav
{
  display: none !important;
}

#html5box-html5-lightbox #html5-lightbox-box
{
  position: absolute !important;
  top: 3% !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  margin: auto !important;
}

.back_btn 
{
  width: 60px;
  margin-bottom: 20px;
}

.back_btn:hover
{
  cursor: pointer;
  opacity: 0.75;
}

#filters
{
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  display: table;
  padding: 0;
}

#filters li
{
  float: none;
  display: inline-block;
  width: 160px;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  background: #5fc0c4;
  margin-left: 10px;
  padding: 4px;
  padding-left: 1px;
  padding-right: 1px;

}

#filters li span:hover
{
  opacity: 0.75;
  cursor: pointer;
}

#filters li span
{
  font-family: 'Aileron-Bold';
  color: #fff;
  text-transform: uppercase;
}

#filters li.active
{
  
}

.main_div
{
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.top_div
{
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

.top_div_span 
{
  font-family: 'Barkentina';
  font-size: 30px;
  color: #5fc0c4;
}

.top_div_desc 
{
  font-family: 'Aileron-Light';
  font-size: 15px;
  color: #929598;
  margin-top: 1.5%;
}

.client_owl img
{
  width: 55%;

}

.owl-wrapper
{
  text-align: center;
}

.item 
{
  position: relative;
}

.owl_overlay
{
  position: absolute;
  background-color: rgba(41,39,41,0.5);
  width: 55%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  /*opacity: 0.5;*/
    -webkit-transition: all 0.3s linear;
          transition: all 0.3s linear;
}

.owl_overlay:hover
{
  opacity: 0;
}

.item span
{
  font-family: 'Barkentina';
  font-size: 18px;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10%;
  width: 55%;
  background-color: rgba(41,39,41,0.5);
}

.fac_div
{
  width: 80% !important;
  margin-bottom: 4%;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}

.fac_item
{
  font-family: 'Aileron-Regular';
  color: #6cc4c8;
  display: inline-block;
  width: 33%;
  margin-bottom: 10px;
  font-size: 15px;
}

.owl-theme .owl-controls .owl-buttons div
{
  background: #5fc0c4 !important;
}


/********/
#imagelightbox
{
    cursor: pointer;
    position: fixed;
    z-index: 10000;

    -ms-touch-action: none;
    touch-action: none;

    -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
    box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
}

/* OVERLAY */

#imagelightbox-overlay
{
    background-color: #fff;
    background-color: rgba( 255, 255, 255, .9 );
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/* "CLOSE" BUTTON */

#imagelightbox-close
{
    width: 2.5em; /* 40 */
    height: 2.5em; /* 40 */
    text-align: left;
    background-color: #00aebd;
    border-radius: 50%;
    border: none;
    position: fixed;
    z-index: 10002;
    top: 2.5em; /* 40 */
    right: 2.5em; /* 40 */

    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
    #imagelightbox-close:hover,
    #imagelightbox-close:focus
    {
        background-color: #1aaa8f;
    }
    #imagelightbox-close:before,
    #imagelightbox-close:after
    {
        width: 2px;
        background-color: #fff;
        content: '';
        position: absolute;
        top: 20%;
        bottom: 20%;
        left: 50%;
        margin-left: -1px;
    }
    #imagelightbox-close:before
    {
        -webkit-transform: rotate( 45deg );
        -ms-transform: rotate( 45deg );
        transform: rotate( 45deg );
    }
    #imagelightbox-close:after
    {
        -webkit-transform: rotate( -45deg );
        -ms-transform: rotate( -45deg );
        transform: rotate( -45deg );
    }


/* NAVIGATION */

#imagelightbox-nav
{
    background-color: #444;
    background-color: rgba( 0, 0, 0, .5 );
    border-radius: 20px;
    position: fixed;
    z-index: 10001;
    left: 50%;
    bottom: 3.75em; /* 60 */
    padding: 0.313em; /* 5 */

    -webkit-transform: translateX( -50% );
    -ms-transform: translateX( -50% );
    transform: translateX( -50% );
}
    #imagelightbox-nav button
    {
        width: 1em; /* 20 */
        height: 1em; /* 20 */
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 50%;
        display: inline-block;
        margin: 0 0.313em; /* 5 */
    }
    #imagelightbox-nav button.active
    {
        background-color: #fff;
    }


/* ARROWS */

.imagelightbox-arrow
{
    width: 3.75em; /* 60 */
    height: 7.5em; /* 120 */
    background-color: #00aebd;
    vertical-align: middle;
    display: none;
    border: none;
    position: fixed;
    z-index: 10001;
    top: 50%;
    margin-top: -3.75em; /* 60 */
}
.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus
{
    background-color: #1aaa8f;
}
.imagelightbox-arrow:active
{
    background-color: #111;
}
    .imagelightbox-arrow-left
    {
        left: 2.5em; /* 40 */
    }
    .imagelightbox-arrow-right
    {
        right: 2.5em; /* 40 */
    }
    .imagelightbox-arrow:before
    {
        width: 0;
        height: 0;
        border: 1em solid transparent;
        content: '';
        display: inline-block;
        margin-bottom: -0.125em; /* 2 */
    }
        .imagelightbox-arrow-left:before
        {
            border-left: none;
            border-right-color: #fff;
            margin-left: -0.313em; /* 5 */
        }
        .imagelightbox-arrow-right:before
        {
            border-right: none;
            border-left-color: #fff;
            margin-right: -0.313em; /* 5 */
        }

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow
{
    -webkit-animation: fade-in .25s linear;
    animation: fade-in .25s linear;
}
    @-webkit-keyframes fade-in
    {
        from    { opacity: 0; }
        to      { opacity: 1; }
    }
    @keyframes fade-in
    {
        from    { opacity: 0; }
        to      { opacity: 1; }
    }

@media only screen and (max-width: 41.250em) /* 660 */
{
    #container
    {
        width: 100%;
    }
    #imagelightbox-close
    {
        top: 1.25em; /* 20 */
        right: 1.25em; /* 20 */
    }
    #imagelightbox-nav
    {
        bottom: 1.25em; /* 20 */
    }

    .imagelightbox-arrow
    {
        width: 2.5em; /* 40 */
        height: 3.75em; /* 60 */
        margin-top: -2.75em; /* 30 */
    }
    .imagelightbox-arrow-left
    {
        left: 1.25em; /* 20 */
    }
    .imagelightbox-arrow-right
    {
        right: 1.25em; /* 20 */
    }
}

.page_title
{
    text-align: center;
    
}

.page_title span
{
    font-family: 'Aileron Black';
    font-size: 30px;
}

@media only screen and (max-width: 20em) /* 320 */
{
    .imagelightbox-arrow-left
    {
        left: 0;
    }
    .imagelightbox-arrow-right
    {
        right: 0;
    }
}

.thumbnail {
  position: relative;
  width: 215px;
  height: 215px;
  overflow: hidden;
  border:none;
  border-radius:0; 
  background-color: transparent;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  margin-right: 15px;
  transition: all .25s;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.thumbnail:hover
{
    transform: scale(0.98);
    padding: 2px;
    /*border: solid 3px #fff !important;*/

}

.fancybox-opened .fancybox-skin, .fancybox-skin
{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: none !important;
}

.landscape:hover
{
  /*border: solid 1px #339966;*/
}

.gallery_div li
{
    display: inline-block;
    margin: 0.625em; /* 10 */
    width: 31%;
}
.landscape, .portrait_div
{
    /*width: 8.75em; 
    height: 150px;*/
    /*width: 100%;*/
    border-color: #eee;
    border: 0.425em solid rgba( 255, 255, 255, .5 ); /* 10 */

    -webkit-box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 ); /* 5 */
    box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 ); /* 5 */

    -webkit-transition: -webkit-box-shadow .3s ease, border-color .3s ease;
    transition: box-shadow .3s ease, border-color .3s ease;

    border: none;

}

#gallery-container
{
  padding: 0;
  text-align: center;
}

#portfoliolist
{
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.div_filters
{
  display: none;
}

.active_div
{
  display: block;
}

.gallery_title
{
  text-align: center;
  width: 100%;
}
.gallery_title span
{
  font-family: 'Barkentina';
  color: #5fc0c4;
  font-weight: bold;
  font-size: 18px;
}

.gallery_cols
{
  padding-left: 0.5%;
  padding-right: 0%;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}

.gallery_cols img
{
  width: 100%;
  border: solid 4px transparent;
  border-radius: 4px;

  transition: all .25s;
  
}

.gallery_cols:hover img
{
  /*opacity: 0.75;*/
  cursor: pointer;
  border-color: #fff;
  transform: scale(0.98);
}


@media only screen and (max-width: 1050px) {

  .loc_div, .footer
  {
    width: 90% !important;
  }

  .loc_left_div, .loc_right_div
  {
    /*width: 100%;
    display: block;
    margin-bottom: 15px;*/
  }



  .loc_right_div_2
  {
    /*display: block;
    width: 100%;*/
  }

  .loc_right_div img 
  {
    width: 85%;
  }

  /*.loc_span_2
  {
    display: inline-block;
  }*/

}

@media only screen and (max-width: 975px) {

  .fac_item 
  {
    width: 32%;
  }
}

@media only screen and (max-width: 900px) {

  #html5-elem-box
  {
    position: absolute !important;
    height: 79% !important;
    width: 100% !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    background-color: transparent  !important;
  }

}

@media only screen and (max-width: 768px) {

  .top_div_span
  {
    font-size: 27px;
  }

  .top_div_desc
  {
    font-size: 14px;
  }

  .loc_right_div
  {
    display: none;
  }

  .loc_right_div_2
  {
    display: block;
  }

  .loc_right_div_2
  {
    width: 100%;
    height: 120px;
    text-align: center;
  }

   .loc_right_div_2 img
  {
    height: 85%;
  }

  .loc_left_div
  {
    text-align: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3%;
  }

  .main_text
  {
    text-align: left;
  }

  .fac_item 
  {
    width: 49%;
    text-align: center;
  }

   .gallery_cols
  {
    width: 48%;
  }

  .vid_gallery .gallery_cols
  {
    width: 50%;
  }

  .last_div
  {
    margin-left: 0;
  }

  #html5-elem-box
  {
    position: absolute !important;
    height: 69% !important;
    width: 100% !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    background-color: transparent  !important;
  }

  #html5-next, #html5-prev
  {
    display: block !important;
  }

  .gallery_title span
  {
    font-size: 15px;
  }

}

@media only screen and (max-width: 600px) {

  .top_text_div
  {
    width: 90%;
  }
  
  .top_span_1
  {
    font-size: 21px;
  }

  .top_span_2
  {
    font-size: 31px;
    margin-top: -11px;
  }

  .loc_span_1
  {
    font-size: 27px;
  }

  .loc_span_2
  {
    font-size: 37px;
  }

  #portfoliolist .portfolio
  {
    width: 100%;
  }
}

@media only screen and (max-width: 520px) {

  .top_div_span
  {
    font-size: 22px;
  }

  .top_div_desc
  {
    font-size: 13px;
  }

  .fac_div
  {
    text-align: center;
  }
  
  .fac_item 
  {
    width: 49%;
    font-size: 13px;
  }

  .item span
  {
    font-size: 14px;
  }

  #filters li
  {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  #html5-elem-box
  {
    position: absolute !important;
    height: 50% !important;
    width: 100% !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    background-color: transparent  !important;
  }

  .vid_gallery .gallery_cols
  {
    width: 100%;
    position: relative;
    text-align: center;
  }

  .vid_gallery .gallery_cols img
  {
    width: 80%;
  }

  .thumbnail
  {
    margin-right: 0;
  }

  .gallery_row 
  {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }
  
  .gallery_cols 
  {
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
  }

  .gallery_cols img
  {
    width: 80%;
  }

}  
@media only screen and (max-width: 414px) {


  .top_div_span
  {
    font-size: 21px;
  }

  .top_div_desc
  {
    font-size: 12px;
  }


}

@media only screen and (max-width: 320px) {
  
  .fac_item 
  {
    font-size: 12px;
  }

  .item span
  {
    font-size: 12px;
    width: 45%;
  }

  .footer_div_3_top .footer_div_3_spans_1, .footer_div_2 span 
  {
    font-size: 9px;
  }
}

