

.main_div
{
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.top_div
{
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  /*height: 480px;*/
  height: 510px;
  padding-top: 5%;
  position: relative;
}

.top_text_div 
{
    position: absolute;
    width: 60%;
    padding-left: 10%;
    top: 15%;
}

.top_span_1 
{
    font-family: 'Barkentina';
    font-size: 80px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #888888;
}

.client_owl img
{
  width: 55%;

/*  -webkit-transition: all 0.3s linear;
          transition: all 0.3s linear;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);*/
}

.owl-wrapper
{
  text-align: center;
}

.item 
{
  position: relative;
}

.owl_overlay
{
  position: absolute;
  background-color: rgba(41,39,41,0.5);
  width: 55%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  /*opacity: 0.5;*/
    -webkit-transition: all 0.3s linear;
          transition: all 0.3s linear;
}

.owl_overlay:hover
{
  opacity: 0;
}

.item span
{
  font-family: 'Barkentina';
  font-size: 18px;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10%;
  width: 45%;
  background-color: rgba(41,39,41,0.5);
}

.fac_div
{
  width: 80% !important;
  margin-bottom: 4%;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}

.fac_item
{
  font-family: 'Aileron-Regular';
  color: #6cc4c8;
  display: inline-block;
  width: 33%;
  margin-bottom: 10px;
  font-size: 15px;
}

.owl-theme .owl-controls .owl-buttons div
{
  background: #5fc0c4 !important;
}


@media only screen and (max-width: 1050px) {

  .loc_div, .footer
  {
    width: 90% !important;
  }

  .loc_left_div, .loc_right_div
  {
    /*width: 100%;
    display: block;
    margin-bottom: 15px;*/
  }



  .loc_right_div_2
  {
    /*display: block;
    width: 100%;*/
  }

  .loc_right_div img 
  {
    width: 85%;
  }

  /*.loc_span_2
  {
    display: inline-block;
  }*/

}

@media only screen and (max-width: 975px) {

  .fac_item 
  {
    width: 32%;
  }
}

@media only screen and (max-width: 768px) {

  .top_div
  {
    height: 310px;
  }

  .top_span_1
  {
    font-size: 25px;
  }

  .top_span_2
  {
    font-size: 38px;
    margin-top: -17px;
  }

  .top_p
  {
    font-size: 13px;
  }

  .loc_right_div
  {
    display: none;
  }

  .loc_right_div_2
  {
    display: block;
  }

  .loc_right_div_2
  {
    width: 100%;
    height: 120px;
    text-align: center;
  }

   .loc_right_div_2 img
  {
    height: 85%;
  }

  .loc_left_div
  {
    text-align: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3%;
  }

  .main_text
  {
    text-align: left;
  }

  .fac_item 
  {
    width: 49%;
    text-align: center;
  }

}

@media only screen and (max-width: 600px) {

  .top_text_div
  {
    width: 90%;
  }
  
  .top_span_1
  {
    font-size: 21px;
  }

  .top_span_2
  {
    font-size: 31px;
    margin-top: -11px;
  }

  .loc_span_1
  {
    font-size: 27px;
  }

  .loc_span_2
  {
    font-size: 37px;
  }
}

@media only screen and (max-width: 520px) {

  .top_div
  {
    height: 300px;
  }

  .fac_item 
  {
    width: 49%;
    font-size: 13px;
  }

  .item span
  {
    font-size: 14px;
  }

}  
@media only screen and (max-width: 414px) {


  .top_text_div
  {
    width: 65%;
  }


}

@media only screen and (max-width: 320px) {
  
  .fac_item 
  {
    font-size: 12px;
  }

  .item span
  {
    font-size: 12px;
    width: 45%;
  }

  .footer_div_3_top .footer_div_3_spans_1, .footer_div_2 span 
  {
    font-size: 9px;
  }
}

