.event_logo
{
  /*width: 27%;*/
  width: 110px;
}


a:hover, a:focus
{
    text-decoration: none !important;
}

.hesperiden.tparrows 
{
    background: transparent !important;
    border: solid 2px #fff;
}

.hesperiden.tparrows:hover 
{
    background: #000 !important;
}

.hesperiden.tparrows:before
{
  font-size: 19px !important;
}

.tp-caption.Fashion-BigDisplay, .Fashion-BigDisplay
{
  text-transform: uppercase;
}

.tp-caption.Fashion-BigDisplay, .Fashion-BigDisplay
{
  /*text-shadow: 4px 2px 4px #000;*/
  /*background-color: #fff;*/
}

.container
{
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.main_div
{
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.uranus .tp-bullet.selected, .uranus .tp-bullet:hover 
{
    box-shadow: 0 0 0 2px #58c4c6 !important;
}

.top_div
{
  width: 100%;
  /*height: 480px;*/
  /*background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  
  padding-top: 5%;*/
}

.top_text_div
{
  position: relative;
  width: 54%;
  padding-left: 8%;
}

.top_span_1
{
  font-family: 'Barkentina';
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}

.top_span_2
{
  font-family: 'Barkentina';
  font-size: 47px;
  color: #fff;
  text-transform: uppercase;
  display: block;
  margin-top: -20px;
}

.top_p
{
  font-family: 'Aileron-Light';
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

.loc_div
{
  margin-top: 4%;
  margin-bottom: 4%;
  width: 80% !important;
}

.loc_left_div
{
  padding-left: 0;
}

.loc_span_1
{
  font-family: 'Barkentina';
  font-size: 20px;
  color: #58c4c6;
}

.loc_span_2
{
  font-family: 'Barkentina';
  font-size: 35px;
  color: #58c4c6;
  text-transform: uppercase;
  display: block;
  margin-top: -12px;
}

.main_text
{
  font-family: 'Aileron-Light';
  font-size: 15px;
  color: #3f3f41;
  margin-top: 10px;
}

.loc_right_div
{

}

.loc_right_div img
{
  width: 75%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

@media only screen and (max-width: 1050px) {

  .loc_div, .footer
  {
    width: 90% !important;
  }

  .loc_left_div, .loc_right_div
  {
    /*width: 100%;
    display: block;
    margin-bottom: 15px;*/
  }



  .loc_right_div_2
  {
    /*display: block;
    width: 100%;*/
  }

  .loc_right_div img 
  {
    width: 85%;
  }

  /*.loc_span_2
  {
    display: inline-block;
  }*/

}
@media only screen and (max-width: 980px) {

  .footer_div_1 img
  {
    /*width: 65%;*/
  }

  .footer_div_2 span
  {
    margin-bottom: 10px;
  }

  .footer_div_1 span
  {
    font-size: 10px;
  }

  .footer_div_3_top .footer_div_3_spans_1, .footer_div_2 span
  {
    font-size: 12px;
  }

  .footer_div_3_bottom img 
  {
    width: 23px;
  }
}

@media only screen and (max-width: 768px) {

  .top_div
  {
    /*height: 480px;*/
  }

  .top_span_1
  {
    font-size: 25px;
  }

  .top_span_2
  {
    font-size: 38px;
    margin-top: -17px;
  }

  .top_p
  {
    font-size: 13px;
  }

  .loc_right_div
  {
    display: none;
  }

  .loc_right_div_2
  {
    display: block !important;
  }

  .loc_right_div_2
  {
    width: 100%;
    height: 120px;
    text-align: center;
  }

   .loc_right_div_2 img
  {
    height: 85%;
  }

  .loc_left_div
  {
    text-align: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .main_text
  {
    text-align: left;
  }

}

@media only screen and (max-width: 520px) {

  .top_div
  {
    /*height: 300px;*/
  }

  .loc_right_div_2 
  {
    height: 90px;
  }

  .loc_span_1
  {
    font-size: 17px;
  }

  .loc_span_2 
  {
    font-size: 29px;
    margin-top: -6px;
  }

  .top_p 
  {
    font-size: 12px;
  }

  .top_span_1 
  {
    font-size: 22px;
  }

  .top_span_2 
  {
    font-size: 34px;
    margin-top: -15px;
  }

}  
@media only screen and (max-width: 414px) {

  .top_text_div
  {
    width: 65%;
  }

  .top_span_1
  {
    font-size: 19px;
  }

  .top_span_2 
  {
    font-size: 28px;
    margin-top: -12px;
  }

  .top_p 
  {
    font-size: 10px;
  }

  .loc_left_div
  {
    /*text-align: center;*/
  }

  .loc_p
  {
    text-align: left;
  }

}

@media only screen and (max-width: 320px) {
  
  .loc_span_1, .loc_span_2
  {
    font-size: 17px;
  }
}

