@font-face {
    font-family: 'Aileron-Light';
    src: url('../fonts/Aileron-Light.eot');
    src: url('../fonts/Aileron-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-Light.woff') format('woff'),
         url('../fonts/Aileron-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron-Regular';
    src: url('../fonts/aileron-regular-webfont.eot');
    src: url('../fonts/aileron-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-regular-webfont.woff') format('woff'),
         url('../fonts/aileron-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron-SemiBold';
    src: url('../fonts/Aileron-SemiBold.eot');
    src: url('../fonts/Aileron-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-SemiBold.woff') format('woff'),
         url('../fonts/Aileron-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron-Bold';
    src: url('../fonts/Aileron-Bold.eot');
    src: url('../fonts/Aileron-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-Bold.woff') format('woff'),
         url('../fonts/Aileron-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aileron-Black';
    src: url('../fonts/aileron-black-webfont.eot');
    src: url('../fonts/aileron-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-black-webfont.woff') format('woff'),
         url('../fonts/aileron-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Barkentina';
    src: url('../fonts/Barkentina.eot');
    src: url('../fonts/Barkentina.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Barkentina.woff') format('woff'),
         url('../fonts/Barkentina.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

#loading, #loading_2
{
    background-color: white;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1170;
    text-align: center;
    background-color: #fff;
}

#loading img, #loading_2 img
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 50px;
}

#loading_2
{
  display: none;
  background-color: rgba(255,255,255,0.6);
}

.nav_mobile, .fake_div
{
  display: none;
}


.nav_div
{
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nav_divs
{
  text-align: center;
  /*padding-top: 1.5%;
  padding-bottom: 1.5%;*/
}

.nav_mobile
{
  position: fixed !important;
}

/*.container
{
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}*/

.event_logo 
{
  width: 100px;
}

a:hover, a:focus
{
    text-decoration: none !important;
}

.top_nav_right
{
  height: 35px;
  /*border: solid 1px #000;*/
}

.bot_nav_right
{
  height: 55px;
  /*border: solid 1px #000;*/
}

.bot_nav_right span
{
  font-family: 'Aileron-Regular';
  color: #808083;
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
}

.bot_nav_right span:hover
{
  cursor: pointer;
  opacity: 0.75;
}

.bot_nav_right .active:hover
{
  cursor: default;
  opacity: 1;
}

.bot_nav_right .active
{
  font-family: 'Aileron-Black';
  border-bottom: solid 7px #5fc0c4;
  padding-bottom: 0.5%;
}

.footer
{
  background-color: #5fc0c4;
  width: 80% !important;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.footer_divs
{
  text-align: center;
  padding-left: 5%;
  border-right: solid 2px #fff;
}

.footer_div_1
{
  text-align: left;
  display: table;
}

.footer_div_1_inner
{
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.footer_div_1 img
{
  /*width: 65%;*/
  width: 60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.footer_div_1 span
{
  font-family: 'Aileron-Regular';
  color: #fff;
  font-size: 11px;
  display: block;
  text-align: center;
}

.footer_div_2
{
  text-align: left;
  padding-left: 5% !important;
}

.footer_div_2 span
{
  font-family: 'Aileron-Bold';
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  margin-bottom: 8px;
}

.footer_div_2 span:hover
{
  opacity: 0.75;
  cursor: pointer;
}

.footer_div_3
{
  text-align: left;
  padding-left: 5% !important;
  position: relative;
  text-align: center;
}

.footer_div_3_inner
{
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
}

.footer_div_3_inner_2
{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2%;
}

.footer_div_3_top
{
  margin-bottom: 18px;
}

.footer_div_3_top .footer_div_3_spans_1
{
  font-family: 'Aileron-Bold';
  color: #fff;
  font-size: 12px;
  display: block;
  margin-bottom: 8%;
}

.footer_div_3_top .footer_div_3_spans_1:hover
{
  opacity: 0.75;
  cursor: pointer;
}

.footer_div_3_spans_2
{
  font-family: 'Aileron-Bold';
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.footer_div_4
{
  padding-left: 3% !important;
  border: none;
  position: relative;
  text-align: center;
  display: table;
}

.footer_div_4_inner
{
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.footer_div_4 .span_1
{
  font-family: 'Aileron-Bold';
  color: #fff;
  font-size: 15px;
}

.footer_div_4 .span_2
{
  font-family: 'Aileron-Light';
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
}

.footer_div_3_bottom
{
  text-align: center;
}

.footer_div_3_bottom img
{
  display: inline-block;
  width: 26px;
  margin-left: 10px;
}

.footer_div_3_bottom .active_imgs
{
  display: none;
}

.hrefs_links:hover .idle_imgs
{
  display: none;
}

.hrefs_links:hover .active_imgs
{
  display: inline-block;
}

.footer_div_3_bottom img:hover
{
  cursor: pointer;
}

.footer_div_4
{
  border: none;
}

.loc_right_div_2
{
  display: none;
}

.footer_div_mobile_1, .footer_div_mobile_2
{
  display: none;
}

.news_input
{
  border: solid 1px #fff;
  border-radius: 10px;
  padding-left: 10px;
  color: #808083;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer_div_4_inner input::-webkit-input-placeholder {
color: #5fc0c4 !important;
text-align: left;
font-family: 'Aileron-Regular';
/*font-size: 20px;*/
}
 
.footer_div_4_inner input:-moz-placeholder { /* Firefox 18- */
color: #5fc0c4 !important;  
text-align: left;
font-family: 'Aileron-Regular';
/*font-size: 20px;*/
}
 
.footer_div_4_inner input::-moz-placeholder {  /* Firefox 19+ */
color: #5fc0c4 !important;  
text-align: left;
font-family: 'Aileron-Regular';
/*font-size: 20px;*/
}
 
.footer_div_4_inner input:-ms-input-placeholder {  
color: #5fc0c4 !important;  
text-align: left;
font-family: 'Aileron-Regular';
/*font-size: 20px;*/
}

.news_btn
{
  margin-top: 10px;
  background-color: #5fc0c4;
  border: solid 2px #fff;
  color: #fff;
}

.news_btn:hover
{
  background-color: #fff;
  border-color: solid 2px #5fc0c4;
  color: #5fc0c4;
}

#gform_wrapper_4, #gforms_confirmation_message
{
  display: none;
}

@media only screen and (max-width: 980px) {

  .footer_div_2 span
  {
    margin-bottom: 10px;
  }

  .footer_div_1 span
  {
    font-size: 10px;
  }

  .footer_div_3_top .footer_div_3_spans_1, .footer_div_2 span
  {
    font-size: 12px;
  }

  .footer_div_3_bottom img 
  {
    width: 23px;
  }
}

@media only screen and (max-width: 768px) {

  .nav_div
  {
    display: none;
  }

  .nav_mobile
  {
    display: block;
    margin-bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 200;
  }

  .nav_mobile #navbar
  {
    margin-left: 0;
    margin-right: 0;
  }

  .nav_mobile .navbar-nav
  {
    margin: 0;
  }


  .container-fluid 
  {
    z-index: 200;
    background-color: #fff;
    /*padding-left: 0;
    padding-right: 0;*/
  }

  .container-fluid > .navbar-collapse
  {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
  {
    background-color: #fff !important;
  }

  .navbar-default .navbar-toggle 
  {
    border-color: #5fc0c4 !important;
  }

  .navbar-default .navbar-toggle .icon-bar 
  {
    background-color: #5fc0c4 !important;
  }

  .navbar-default .navbar-toggle:hover
  {
    background-color: #5fc0c4 !important;
  }

  /*.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus*/
  .navbar-default .navbar-toggle:hover .icon-bar
  {
    background-color: #fff !important;
  }

  .navbar-default 
  {
    background-color: #fff !important;
    border: none !important;
  }

  .navbar-nav
  {
    margin: 0;
  }

  .navbar-collapse
  {
    border: none;
  }

  .navbar-brand
  {
    height: initial !important;
  }

  .event_logo 
  {
    width: 80px;
  }

  .nav_btn_div
  {
    float: right;
    height: 100px;
    vertical-align: middle;
    position: relative;
    width: 50px;
  }

  .navbar-toggle 
  {
    position: relative !important;
    float: none !important;
    padding: 9px 10px !important;
    margin-top: 8px !important;
    margin-right: 15px !important;
    margin-bottom: 8px !important;
    background-color: transparent !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    height: 40px !important;
    margin: auto !important;
  }

  .fake_div
  {
    width: 100%;
    position: relative;
    height: 100px;
    display: block;
  }

  .footer
  {
    width: 100% !important;
  }


  .footer_divs 
  {
    padding-left: 0!important;
    padding-right: 0!important;
    display: block;
    float: none !important;
    height: initial !important;
    margin-bottom: 13px;
    text-align: center !important;
    border: none;
  }

  .footer_div_1_inner
  {
    display: block;
  }

  .footer_div_3_inner, .footer_div_3_inner_2
  {
    position: relative;
  }

  .footer_div_1 img
  {
    width: 20%;
  }

  .footer_div_3_bottom 
  {
    text-align: center;
  }

  .footer_div_3_top .footer_div_3_spans_1 
  {
    margin-bottom: 0;
    display: inline-block;
    border-right: solid 2px #fff;
    padding-right: 4px;
  }

  .footer_div_3_top .footer_div_3_spans_1_3
  {
    padding-right: 0;
    border: none;
  }

  .footer_div_3_top .footer_div_3_spans_1, .footer_div_2 span, .footer_div_3_spans_2
  {
    font-size: 10px;
  }

  .footer_div_desktop
  {
    display: none;
  }

  .footer_div_mobile_1, .footer_div_mobile_2, .footer_div_4_inner
  {
    display: block;
  }

  .footer_div_4_inner
  {
    margin-top: 20px;
  }

  .footer_div_mobile_2
  {
    margin-top: 20px;
  }

  .dwn_span
  {
    border-right: none !important;
  }

}

@media only screen and (max-width: 520px) {


}

@media only screen and (max-width: 320px) {
  
  .loc_span_1, .loc_span_2
  {
    font-size: 20px;
  }

  .footer_div_3_top .footer_div_3_spans_1, .footer_div_2 span 
  {
    font-size: 9px;
  }
}