
.main_div
{
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.top_div
{
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 510px;
  /*height: 480px;*/
/*  height: 540px;*/
  /*padding-top: 5%;*/
  position: relative;
}

.top_text_div
{
  position: relative;
  width: 30%;
  margin-left: 10%;
  /* bottom: 15%; */
  height: 100%;
  background-color: rgba(128,128,128,0.82);
  display: table;
}

.top_text_div_inner
{
  display: table-cell;
  vertical-align: middle;
  padding-left: 6%;
  padding-right: 6%;
}

.top_text_div_mobile
{
  display: none;
  background-color: rgba(128,128,128,0.82);
  padding: 20px;
  text-align: center;
}

.top_text_div_mobile .top_span_2
{
  width: 100%;
  border: none;
}

.extra_border
{
  width: 30%;
  height: 7px;
  background-color: #5fc0c4;
  margin-left: auto;
  margin-right: auto;
}

.top_span_1
{
  font-family: 'Barkentina';
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}

.top_span_2
{
  font-family: 'Barkentina';
  font-size: 33px;
  color: #fff;
  text-transform: uppercase;
  display: block;
  margin-top: -13px;
  border-bottom: solid 7px #5fc0c4;
  width: 15%;
}

.top_p
{
  font-family: 'Aileron-Light';
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
}

.mid_div
{
  background-color: #5fc0c4;
  padding: 20px;
  text-align: center;
  margin-top: 5px;
}

.mid_div span
{
  font-family: 'Barkentina';
  font-size: 15px;
  color: #fff;
  display: inline-block;
  margin-left: 1%;
  text-transform: uppercase;
  border-right: solid 2px #fff;
  padding-right: 1%;
}

.mid_div_last
{
  border-right: none !important;
  padding-right: 0  !important;
}

.mid_div span:hover
{
  cursor: pointer;
  opacity: 0.75;
}

.mid_div_active
{
  text-decoration: underline;
}

.bot_div
{
  margin-bottom: 4%;
}

.bot_div_inners
{
  margin-top: 3%;
  margin-bottom: 3%;
}


.bot_div_0
{
  display: block;
}

.bot_div_inner
{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.bot_div_title
{
  font-family: 'Barkentina';
  font-size: 20px;
  color: #929598;
  text-transform: uppercase;
}

.bot_div_inner p
{
  margin-top: 10px;
  font-family: 'Barkentina';
  font-size: 15px;
  color: #929598;
  text-align: left;
}

.loc_div
{
  margin-top: 4%;
  margin-bottom: 4%;
  width: 80% !important;
}

.loc_left_div
{
  padding-left: 0;
}

.loc_span_1
{
  font-family: 'Barkentina';
  font-size: 30px;
  color: #323131;
}

.loc_span_2
{
  font-family: 'Barkentina';
  font-size: 45px;
  color: #323131;
  text-transform: uppercase;
  display: block;
  margin-top: -12px;
}

.main_text
{
  margin-top: 20px;
}

@media only screen and (max-width: 1050px) {

  .loc_div, .footer
  {
    width: 90% !important;
  }

  .loc_left_div, .loc_right_div
  {
    /*width: 100%;
    display: block;
    margin-bottom: 15px;*/
  }



  .loc_right_div_2
  {
    /*display: block;
    width: 100%;*/
  }

  .loc_right_div img 
  {
    width: 85%;
  }

  /*.loc_span_2
  {
    display: inline-block;
  }*/

}
@media only screen and (max-width: 980px) {

  
}

@media only screen and (max-width: 768px) {

  .top_div
  {
    height: 310px;
  }

  .top_span_1
  {
    font-size: 25px;
  }

  .top_span_2
  {
    font-size: 38px;
    margin-top: -17px;
  }

  .top_p
  {
    font-size: 13px;
  }

  .mid_div span
  {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    border: solid 2px #fff !important;
  }

  .bot_div_title
  {
    font-size: 17px;
    text-align: center;
  }

  .bot_div_desc
  {
    font-size: 14px;
    text-align: center;
  }

  .loc_right_div
  {
    display: none;
  }

  .loc_right_div_2
  {
    display: block;
  }

  .loc_right_div_2
  {
    width: 100%;
    height: 120px;
    text-align: center;
  }

   .loc_right_div_2 img
  {
    height: 85%;
  }

  .loc_left_div
  {
    text-align: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .main_text
  {
    text-align: left;
  }

  .top_text_div
  {
    display: none;
  }

  .top_text_div_mobile
  {
    display: block;
  }

  .top_text_div_2 .top_text_div_inner .top_span_1
  {
    font-size: 22px;
  }

  .top_text_div_2 .top_text_div_inner .top_span_2 
  {
    font-size: 30px;
    margin-top: -12px;
  }

}

@media only screen and (max-width: 600px) {

  .top_text_div
  {
    width: 90%;
  }
  
  .top_span_1
  {
    font-size: 21px;
  }

  .top_span_2
  {
    font-size: 31px;
    margin-top: -11px;
  }

  .loc_span_1
  {
    font-size: 27px;
  }

  .loc_span_2
  {
    font-size: 37px;
  }
}

@media only screen and (max-width: 520px) {

  .top_div
  {
    height: 300px;
  }

}  
@media only screen and (max-width: 414px) {


  .top_text_div
  {
    /*width: 65%;*/
  }


}

@media only screen and (max-width: 320px) {
  
}

